<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hcan53.android.record">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--外部存储的读权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /><!--JobIntentService使用权限-->
    <application>
        <activity
            android:name=".ScreenRecordActivity"
            android:theme="@style/RecordTheme"></activity>

        <service
            android:name=".ScreenRecordService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process="com.hcan53.android.record"></service>
        <receiver
            android:name="ScreenRecordBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="com.hcan.screen.record.BROADCAST" />
            </intent-filter>
        </receiver>
    </application>
</manifest>