<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.HCan.android.draft">

    <application>
        <activity
            android:name=".ThanDraftActivity"
            android:theme="@style/ThanDraft"></activity>
    </application>
</manifest>